.root {
  position: relative;
  display: block;
  width: 100%;
}

.label {
  display: block;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  line-height: var(--theme-line-height-base);
  color: var(--theme-text);
  background: var(--theme-border);
  padding: 0 1ch;
  margin-bottom: 0;
}

.inputContainer {
  position: relative;
  display: block;
}

.textarea {
  display: block;
  width: 100%;
  min-height: calc(var(--theme-line-height-base) * var(--font-size) * 4);
  padding: calc(var(--theme-line-height-base) * 0.25em) 1ch;
  margin: 0;
  border: none;
  outline: none;
  resize: vertical;
  background: var(--theme-background-input);
  box-shadow:
    inset 2px 0 0 0 var(--theme-border),
    inset -2px 0 0 0 var(--theme-border),
    inset 0 2px 0 0 var(--theme-border),
    inset 0 -2px 0 0 var(--theme-border);
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  line-height: var(--theme-line-height-base);
  color: var(--theme-text);

  &::placeholder {
    font-family: var(--font-family-mono);
    color: var(--theme-overlay);
    font-style: italic;
  }

  &:focus {
    box-shadow:
      inset 2px 0 0 0 var(--theme-focused-border),
      inset -2px 0 0 0 var(--theme-focused-border),
      inset 0 2px 0 0 var(--theme-focused-border),
      inset 0 -2px 0 0 var(--theme-focused-border);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.caret {
  position: absolute;
  bottom: calc(var(--theme-line-height-base) * 0.25em + 2px);
  right: calc(1ch + 2px);
  display: inline-block;
  min-width: 1ch;
  background: var(--theme-text);
  color: var(--theme-background);
  height: calc(var(--font-size) * var(--theme-line-height-base));
  pointer-events: none;
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

