.divider {
  background: var(--theme-border);
  border: none;
  flex-shrink: 0;
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: var(--line-1) 0;
}

.vertical {
  width: 1px;
  height: 100%;
  margin: 0 var(--space-2);
  align-self: stretch;
}
