.divider {
  background: var(--theme-border);
  border: none;
  flex-shrink: 0;
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
}

.vertical {
  width: 1px;
  height: 100%;
  margin: 0 1rem;
  align-self: stretch;
}
