.container {
  display: inline-flex;
  align-items: center;
  gap: 0.75ch;
  cursor: pointer;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  line-height: var(--theme-line-height-base);
  color: var(--theme-text);
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3ch;
  height: calc(var(--font-size) * var(--theme-line-height-base));
  background: var(--theme-button-foreground);
  border: none;
  outline: none;
  padding: 0 1ch;
  margin: 0;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  color: var(--theme-text);
  cursor: inherit;

  &:focus-visible {
    background: var(--theme-focused-foreground);
  }

  &[data-disabled] {
    cursor: not-allowed;
  }
}

.indicator {
  display: inline-block;
  width: 1ch;
  text-align: center;
}

.label {
  color: var(--theme-text);
}
