.root {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  line-height: var(--theme-line-height-base);

  &[data-disabled] {
    opacity: 0.5;
  }
}
